In [1]:
#uploading dataset file in collab
from google.colab import files
uploaded = files.upload()

Saving India_rainfall.csv to India_rainfall.csv

In [2]:
#importing libraries
import pandas as pd
import numpy as np

In [3]:
#converting csv file into datafame
df = pd.read_csv("India_rainfall.csv")

In [4]:
df

,YEAR,Actual Rainfall: JUN,Actual Rainfall: JUL,Actual Rainfall: AUG,Actual Rainfall: SEPT,Actual Rainfall: JUN-SEPT,Departure Percentage: JUN,Departure Percentage: JUL,Departure Percentage: AUG,Departure Percentage: SEP,Departure Percentage: JUN-SEPT
0,1901,109.1,241.4,284.2,121.9,756.6,-29.9,-16.7,11.0,-28.4,-13.1
1,1902,104.0,283.7,202.6,201.9,792.1,-33.6,-2.0,-21.0,18.7,-9.1
2,1903,114.8,293.0,279.6,204.4,891.9,-26.6,1.6,9.6,20.3,2.6
3,1904,158.8,266.4,210.4,129.6,765.2,2.8,-7.7,-17.4,-23.8,-11.8
4,1905,88.7,252.5,202.6,174.6,718.5,-43.6,-12.3,-21.2,3.2,-17.4
...,...,...,...,...,...,...,...,...,...,...,...
111,2012,117.8,250.2,262.4,193.5,823.9,-28.0,-13.4,0.5,11.5,-7.1
112,2013,219.8,310.0,254.7,152.7,937.2,34.4,7.3,-2.4,-12.0,5.6
113,2014,95.2,261.1,237.4,187.9,781.7,-41.7,-9.6,-9.0,8.3,-11.9
114,2015,189.0,240.8,204.2,131.8,764.9,15.5,-16.7,-21.9,-24.0,-13.8
115,2016,147.6,309.2,239.6,168.0,864.4,-9.8,6.9,-8.3,-3.1,-2.6

In [5]:
df.describe()

,YEAR,Actual Rainfall: JUN,Actual Rainfall: JUL,Actual Rainfall: AUG,Actual Rainfall: SEPT,Actual Rainfall: JUN-SEPT,Departure Percentage: JUN,Departure Percentage: JUL,Departure Percentage: AUG,Departure Percentage: SEP,Departure Percentage: JUN-SEPT
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000
mean,1958.500000,166.711207,294.135345,260.920690,173.710345,895.943966,-0.562931,-2.203448,0.375000,-1.219828,-0.976724
std,33.630343,36.133349,41.531085,37.237717,37.492936,92.796977,22.330344,14.009717,14.916037,22.628705,10.031701
min,1901.000000,85.700000,146.200000,189.800000,95.100000,697.400000,-48.300000,-54.200000,-32.500000,-44.700000,-24.900000
25%,1929.750000,141.425000,273.575000,237.000000,143.375000,828.175000,-15.525000,-8.550000,-9.925000,-19.525000,-8.300000
50%,1958.500000,167.250000,295.600000,259.800000,173.650000,904.050000,-2.200000,-2.000000,-0.500000,-1.850000,0.350000
75%,1987.250000,190.450000,322.400000,289.275000,201.925000,962.800000,13.675000,6.425000,12.625000,15.250000,5.300000
max,2016.000000,277.200000,381.600000,348.000000,283.100000,1124.200000,56.600000,26.600000,33.100000,64.500000,22.900000

# 1. For the given data find mean, standard deviation and variance in excel.

In [6]:
df.mean()

YEAR                              1958.500000
Actual Rainfall: JUN               166.711207
Actual Rainfall: JUL               294.135345
Actual Rainfall: AUG               260.920690
Actual Rainfall: SEPT              173.710345
Actual Rainfall: JUN-SEPT          895.943966
Departure Percentage: JUN           -0.562931
Departure Percentage: JUL           -2.203448
Departure Percentage: AUG            0.375000
Departure Percentage: SEP           -1.219828
Departure Percentage: JUN-SEPT      -0.976724
dtype: float64

In [7]:
df.std()

YEAR                              33.630343
Actual Rainfall: JUN              36.133349
Actual Rainfall: JUL              41.531085
Actual Rainfall: AUG              37.237717
Actual Rainfall: SEPT             37.492936
Actual Rainfall: JUN-SEPT         92.796977
Departure Percentage: JUN         22.330344
Departure Percentage: JUL         14.009717
Departure Percentage: AUG         14.916037
Departure Percentage: SEP         22.628705
Departure Percentage: JUN-SEPT    10.031701
dtype: float64

In [8]:
df.var()

YEAR                              1131.000000
Actual Rainfall: JUN              1305.618917
Actual Rainfall: JUL              1724.831001
Actual Rainfall: AUG              1386.647568
Actual Rainfall: SEPT             1405.720240
Actual Rainfall: JUN-SEPT         8611.279007
Departure Percentage: JUN          498.644266
Departure Percentage: JUL          196.272162
Departure Percentage: AUG          222.488152
Departure Percentage: SEP          512.058299
Departure Percentage: JUN-SEPT     100.635019
dtype: float64

# 2. From the given data, take a sample and find mean, standard deviation and variance for population in excel. Also, validate Central Limit Theorem in excel and python as discussed in the class.

In [9]:
df

,YEAR,Actual Rainfall: JUN,Actual Rainfall: JUL,Actual Rainfall: AUG,Actual Rainfall: SEPT,Actual Rainfall: JUN-SEPT,Departure Percentage: JUN,Departure Percentage: JUL,Departure Percentage: AUG,Departure Percentage: SEP,Departure Percentage: JUN-SEPT
0,1901,109.1,241.4,284.2,121.9,756.6,-29.9,-16.7,11.0,-28.4,-13.1
1,1902,104.0,283.7,202.6,201.9,792.1,-33.6,-2.0,-21.0,18.7,-9.1
2,1903,114.8,293.0,279.6,204.4,891.9,-26.6,1.6,9.6,20.3,2.6
3,1904,158.8,266.4,210.4,129.6,765.2,2.8,-7.7,-17.4,-23.8,-11.8
4,1905,88.7,252.5,202.6,174.6,718.5,-43.6,-12.3,-21.2,3.2,-17.4
...,...,...,...,...,...,...,...,...,...,...,...
111,2012,117.8,250.2,262.4,193.5,823.9,-28.0,-13.4,0.5,11.5,-7.1
112,2013,219.8,310.0,254.7,152.7,937.2,34.4,7.3,-2.4,-12.0,5.6
113,2014,95.2,261.1,237.4,187.9,781.7,-41.7,-9.6,-9.0,8.3,-11.9
114,2015,189.0,240.8,204.2,131.8,764.9,15.5,-16.7,-21.9,-24.0,-13.8
115,2016,147.6,309.2,239.6,168.0,864.4,-9.8,6.9,-8.3,-3.1,-2.6

In [10]:
sample1 = df.sample(10)
sample1

,YEAR,Actual Rainfall: JUN,Actual Rainfall: JUL,Actual Rainfall: AUG,Actual Rainfall: SEPT,Actual Rainfall: JUN-SEPT,Departure Percentage: JUN,Departure Percentage: JUL,Departure Percentage: AUG,Departure Percentage: SEP,Departure Percentage: JUN-SEPT
29,1930,183.9,307.2,208.5,176.8,876.4,7.5,3.1,-25.2,-2.3,-5.4
15,1916,233.8,301.5,318.8,202.0,1056.1,34.3,-5.7,20.6,14.9,13.2
58,1959,168.4,374.3,263.3,230.7,1036.7,-3.7,23.0,3.1,33.0,14.3
42,1943,164.3,324.3,246.6,217.9,953.1,-5.8,6.8,-6.3,22.4,3.7
68,1969,128.4,314.0,271.2,174.7,888.3,-23.5,6.6,5.8,2.8,0.2
77,1978,218.1,298.8,279.8,168.6,965.2,30.8,1.7,13.5,-4.3,9.2
21,1922,201.2,326.1,225.6,204.6,957.5,14.5,5.9,-15.5,18.2,3.5
97,1998,167.8,296.5,261.4,217.3,943.1,-4.3,-2.1,0.9,26.5,4.0
65,1966,172.2,251.3,211.9,144.3,779.8,3.6,-15.9,-18.8,-15.4,-13.2
56,1957,142.2,289.9,283.7,130.7,898.1,-10.8,0.9,12.6,-22.1,-2.4

In [11]:
sample1.mean()

YEAR                              1953.80
Actual Rainfall: JUN               178.03
Actual Rainfall: JUL               308.39
Actual Rainfall: AUG               257.08
Actual Rainfall: SEPT              186.76
Actual Rainfall: JUN-SEPT          935.43
Departure Percentage: JUN            4.26
Departure Percentage: JUL            2.43
Departure Percentage: AUG           -0.93
Departure Percentage: SEP            7.37
Departure Percentage: JUN-SEPT       2.71
dtype: float64

In [12]:
sample1.std()

YEAR                              25.990597
Actual Rainfall: JUN              32.410597
Actual Rainfall: JUL              31.315153
Actual Rainfall: AUG              34.629750
Actual Rainfall: SEPT             33.172351
Actual Rainfall: JUN-SEPT         80.195082
Departure Percentage: JUN         18.128627
Departure Percentage: JUL          9.986552
Departure Percentage: AUG         15.162824
Departure Percentage: SEP         18.439936
Departure Percentage: JUN-SEPT     8.439780
dtype: float64

In [13]:
sample2 = df.sample(10)
sample2

,YEAR,Actual Rainfall: JUN,Actual Rainfall: JUL,Actual Rainfall: AUG,Actual Rainfall: SEPT,Actual Rainfall: JUN-SEPT,Departure Percentage: JUN,Departure Percentage: JUL,Departure Percentage: AUG,Departure Percentage: SEP,Departure Percentage: JUN-SEPT
17,1918,206.3,180.4,240.7,109.1,736.5,13.5,-47.1,-11.4,-42.1,-24.9
8,1909,205.0,318.1,239.9,164.9,927.9,31.8,11.1,-6.0,-2.7,7.1
35,1936,252.1,300.6,243.8,197.4,993.9,48.9,-5.6,-9.7,10.1,6.1
108,2009,85.7,280.6,192.5,139.4,698.2,-47.2,-4.3,-26.5,-20.2,-21.8
98,1999,175.2,273.5,223.7,190.8,863.1,5.1,-8.8,-15.5,10.9,-4.4
114,2015,189.0,240.8,204.2,131.8,764.9,15.5,-16.7,-21.9,-24.0,-13.8
80,1981,165.8,309.8,228.2,183.3,887.1,-4.0,6.5,-8.7,4.3,-0.2
105,2006,141.8,287.6,281.3,178.6,889.3,-12.7,-2.0,7.3,2.3,-0.4
74,1975,173.8,314.4,296.6,226.7,1011.4,4.9,6.0,21.0,32.2,15.2
70,1971,240.6,278.4,256.7,149.8,885.7,43.1,-9.7,5.3,-10.6,4.0

In [14]:
sample2.mean()

YEAR                              1971.90
Actual Rainfall: JUN               183.53
Actual Rainfall: JUL               278.42
Actual Rainfall: AUG               240.76
Actual Rainfall: SEPT              167.18
Actual Rainfall: JUN-SEPT          865.80
Departure Percentage: JUN            9.89
Departure Percentage: JUL           -7.06
Departure Percentage: AUG           -6.61
Departure Percentage: SEP           -3.98
Departure Percentage: JUN-SEPT      -3.31
dtype: float64

In [15]:
sample2.std()

YEAR                               38.549968
Actual Rainfall: JUN               48.026267
Actual Rainfall: JUL               41.475744
Actual Rainfall: AUG               31.867999
Actual Rainfall: SEPT              35.131619
Actual Rainfall: JUN-SEPT         104.277237
Departure Percentage: JUN          28.204785
Departure Percentage: JUL          16.417146
Departure Percentage: AUG          14.311258
Departure Percentage: SEP          21.079574
Departure Percentage: JUN-SEPT     13.039892
dtype: float64

In [16]:
sample3 = df.sample(10)
sample3

,YEAR,Actual Rainfall: JUN,Actual Rainfall: JUL,Actual Rainfall: AUG,Actual Rainfall: SEPT,Actual Rainfall: JUN-SEPT,Departure Percentage: JUN,Departure Percentage: JUL,Departure Percentage: AUG,Departure Percentage: SEP,Departure Percentage: JUN-SEPT
94,1995,135.1,313.0,259.8,192.4,900.3,-23.6,3.5,-0.4,6.4,-1.9
11,1912,104.9,337.6,267.7,119.6,829.8,-33.0,17.0,5.3,-29.9,-4.5
88,1989,194.7,318.6,235.7,171.0,920.0,19.3,5.1,-7.2,-10.2,0.9
21,1922,201.2,326.1,225.6,204.6,957.5,14.5,5.9,-15.5,18.2,3.5
63,1964,179.8,358.3,288.4,205.0,1031.4,-5.0,12.6,10.8,17.5,9.8
4,1905,88.7,252.5,202.6,174.6,718.5,-43.6,-12.3,-21.2,3.2,-17.4
54,1955,171.9,249.9,317.2,223.0,962.0,9.6,-15.4,24.9,32.7,10.1
6,1907,150.1,223.5,311.6,95.1,780.3,-3.3,-22.9,23.5,-44.7,-10.0
82,1983,152.2,285.5,309.5,254.2,1001.5,-6.8,-4.3,23.8,43.5,13.0
91,1992,126.3,243.1,289.1,173.2,831.7,-22.0,-19.1,14.7,-2.6,-6.7

In [17]:
sample3.mean()

YEAR                              1952.40
Actual Rainfall: JUN               150.49
Actual Rainfall: JUL               290.81
Actual Rainfall: AUG               270.72
Actual Rainfall: SEPT              181.27
Actual Rainfall: JUN-SEPT          893.30
Departure Percentage: JUN           -9.39
Departure Percentage: JUL           -2.99
Departure Percentage: AUG            5.87
Departure Percentage: SEP            3.41
Departure Percentage: JUN-SEPT      -0.32
dtype: float64

In [18]:
sample3.std()

YEAR                               37.512072
Actual Rainfall: JUN               37.364613
Actual Rainfall: JUL               46.224848
Actual Rainfall: AUG               39.464155
Actual Rainfall: SEPT              46.827106
Actual Rainfall: JUN-SEPT         100.848026
Departure Percentage: JUN          20.833277
Departure Percentage: JUL          13.854759
Departure Percentage: AUG          16.655466
Departure Percentage: SEP          26.950261
Departure Percentage: JUN-SEPT      9.721660
dtype: float64

In [19]:
sample4 = df.sample(10)
sample4

,YEAR,Actual Rainfall: JUN,Actual Rainfall: JUL,Actual Rainfall: AUG,Actual Rainfall: SEPT,Actual Rainfall: JUN-SEPT,Departure Percentage: JUN,Departure Percentage: JUL,Departure Percentage: AUG,Departure Percentage: SEP,Departure Percentage: JUN-SEPT
69,1970,212.1,253.6,319.3,213.7,998.7,30.7,-16.0,26.0,23.2,12.2
52,1953,167.7,336.2,302.7,176.8,983.4,1.0,12.3,18.8,0.0,9.8
51,1952,167.8,286.5,262.1,111.4,827.8,2.5,-4.1,0.2,-38.3,-8.2
37,1938,277.2,311.0,253.6,163.1,1005.0,56.6,-2.7,-6.4,-13.0,5.0
109,2010,138.1,300.7,274.7,197.7,911.1,-15.6,2.8,4.9,12.0,2.0
63,1964,179.8,358.3,288.4,205.0,1031.4,-5.0,12.6,10.8,17.5,9.8
28,1929,192.5,296.3,246.8,129.0,864.6,10.4,-2.1,-7.3,-28.9,-6.5
31,1932,136.8,337.6,238.1,187.2,899.7,-26.9,12.4,-12.4,3.0,-3.7
89,1990,191.7,280.4,294.5,205.8,972.3,12.0,-4.1,12.3,9.1,6.2
15,1916,233.8,301.5,318.8,202.0,1056.1,34.3,-5.7,20.6,14.9,13.2

In [20]:
sample4.mean()

YEAR                              1955.40
Actual Rainfall: JUN               189.75
Actual Rainfall: JUL               306.21
Actual Rainfall: AUG               279.90
Actual Rainfall: SEPT              179.17
Actual Rainfall: JUN-SEPT          955.01
Departure Percentage: JUN           10.00
Departure Percentage: JUL            0.54
Departure Percentage: AUG            6.75
Departure Percentage: SEP           -0.05
Departure Percentage: JUN-SEPT       3.98
dtype: float64

In [21]:
sample4.std()

YEAR                              29.025659
Actual Rainfall: JUN              42.995122
Actual Rainfall: JUL              30.901724
Actual Rainfall: AUG              29.343256
Actual Rainfall: SEPT             34.755305
Actual Rainfall: JUN-SEPT         75.211560
Departure Percentage: JUN         24.886230
Departure Percentage: JUL          9.443069
Departure Percentage: AUG         13.073149
Departure Percentage: SEP         20.475962
Departure Percentage: JUN-SEPT     7.798689
dtype: float64

In [23]:
#mean of Actual Rainfall: JUN-SEPT 
sample_mean = (935.43 + 865.80 + 893.30 + 955.01)/4
sample_mean

912.385

912.385

In [24]:
#standard deviation of Actual Rainfall: JUN-SEPT 
print(np.std([80.195082,104.277237,100.848026,75.211560]))

12.612323421349778

# 5. Perform One-way and two-way ANOVA on the dataset as discussed in class using formulae as well as ANOVA function in excel.

In [25]:
pip install scipy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (1.10.1)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scipy) (1.22.4)

In [26]:
from scipy.stats import f_oneway

In [27]:
#perform one-way ANOVA
f_oneway(sample1, sample2, sample3, sample4)

F_onewayResult(statistic=array([0.75082932, 1.81658119, 1.36668331, 2.50865606, 0.47531163,
       1.96480657, 1.52876608, 1.07524048, 1.78361802, 0.48634673,
       1.07252276]), pvalue=array([0.52906404, 0.16158533, 0.26848714, 0.07427667, 0.7014245 ,
       0.13668949, 0.22366883, 0.3718054 , 0.167716  , 0.69389908,
       0.37292563]))

# 6. Perform t-test on the dataset as discussed in class using t-test function in excel.

In [28]:
pip install statsmodels

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: statsmodels in /usr/local/lib/python3.10/dist-packages (0.13.5)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (1.5.3)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (0.5.3)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (23.1)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (1.10.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25->statsmodels) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.2->statsmodels) (1.16.0)

In [29]:
from statsmodels.stats.weightstats import ttest_ind

In [30]:
ttest_ind(sample1, sample2)

(array([-1.23108997, -0.30018502,  1.82362027,  1.09661451,  1.28145435,
         1.67382741, -0.53100048,  1.5617218 ,  0.86147338,  1.28154157,
         1.22559232]),
 array([0.23413322, 0.76747527, 0.08485938, 0.28726496, 0.21629675,
        0.11145263, 0.60190971, 0.13576321, 0.40030832, 0.2162668 ,
        0.23614687]),
 18.0)

In [31]:
alpha = 0.05
claimed_value = 111.875
from scipy.stats import ttest_1samp
x = [80.195082,104.277237,100.848026,75.211560]
ttest_1samp(x,popmean = claimed_value)

TtestResult(statistic=-2.985832866498043, pvalue=0.058324417643596714, df=3)